PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=postgres
PG_HOST=db

RABBIT_MQ_URL=amqp://guest:guest@localhost:5672/
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672/

TESTING=True
ENVIRONMENT=development