PG_USER=excercise_user
PG_PASSWORD=excercise_password
PG_DB=excercise_db
PG_HOST=db
PG_PORT=5432
TEST_DB=excercise_test_db

RABBIT_MQ_URL=amqp://guest:guest@localhost:5672/
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672/

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password

TESTING=True
ENVIRONMENT=development

